#content{
    width:70%;
    margin: 0 auto;
    background-color: #C8E6C9;
}
body{
    background-color: #33691E;
}
article{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:  10px;
}

#navbar li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;

}
#navbar{
    color: white;
    font-size: 20px;
    margin-top: -15px;
    text-align: center;
    margin-bottom: 50px;
}

#banner{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding-left: 10px;
    color: white;
    font-size: 145%;
    background-color: #2E7D32;
}

.lesson{
    text-align: justify;
}

#footer{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #2E7D32;
    color: white;
    font-size: 80%;
}

#sidebar
{
    border-radius: 8px;
    border-bottom-style:ridge;
    background-color: #81C784;
    float: right;
    width: 180px;
    padding: 0% 0% 0% 0%;
    margin: 7% 3% 0 0;
}
#sidebar h3 { margin: 0; }

#sidebar li{
    margin-left: 10px;
}

.introducao{
    font-size: 180%;
}

#bio{
    margin: 0 auto;
    text-align: center;
    width:60%;
}

#aboutimg{
    margin: 0 auto;
    padding-bottom: 15px;
    border-radius:130px;
    text-align: center;
    display: block;
    width:25%;
}

#splashhome{
    width: 100%;
    display: block;
    margin:10px auto;
    text-align: center;
}

#tabelaoperadores{
    margin: 0 auto;
    text-align: center;
    display: block;
    width:60%;
}

#quiz-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
